*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    background-color:rgb(150, 150, 50);
    width: 100vw ;
    height:100vh ;
    max-width: 100vw;
    font-size: 0%;
}
.sidebar{
    height: 100% ;
    width: 20% ;
    background-color: #9770AF;
    display: inline-block;
    font-size: 20px;
    
}
.main{
    height: 100%;
    width: 80%;
    background-color: rgba(167, 154, 186, 1);
    display: inline-block;
    overflow: auto;
    vertical-align:top;
    font-size: 20px;
    border-left: 5px solid black;
    

}
.sidebar img{
    display: block;
    border-radius: 50%;
    outline: 5px solid rgba(190, 136, 205, 1);
    outline-offset: 5px ;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    
}
.sidebar a{
    display: block;
    line-height: 40px;
    text-align: center;
}
a:link{
    color: bisque; text-decoration: none;
}
a:visited{
    color: rgb(190, 212, 127);
}
a:active{
    color: rgb(183, 177, 221);
}
a:hover{
    color: white;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: left;
    letter-spacing: 5px;
    margin-left: 50px;
    margin-top: 80px;
}
.f{
    color:rgb(2, 68, 46);
    display: inline-block;
    
}
.main .capital{
    text-transform: uppercase;
    text-indent: 50px;
    font-family: fantasy;
    margin-bottom: 50px;
}
a.email{
    color: rgba(132, 32, 126, 1);
}
.main .text{
    margin-left: 50px;
    max-width: 900px;
    margin-bottom: 30px;
}
.icon{
    font-size: 50px;
    margin-top: 20px;
    color: black;
    margin-left: 40px;
    border-radius: 50%;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color:aliceblue;
    margin-bottom: 10%;
    
    
}
.icon :hover{
    cursor: pointer;
    
}
.heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-top: 2px solid black;
    margin-left: 0%;
    margin-bottom: 60px;
    padding-top: 80px;
    padding-left: 50px;
    font-size: 50px;
    text-transform: uppercase;
    

}
.style{
    text-transform: uppercase;
    font-family: sans-serif;
    padding-left: 50px ;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(27, 24, 24);
}
.sub{
    font-size: 25px;
    color: rgb(43, 41, 41);
    text-transform: uppercase;
    margin-left: 50px;
    font-family: monospace;
    margin-top: 10px;
}
.date{
    text-align: right;
    margin-right: 45px;
    color: rgba(235, 24, 24, 1);
    text-transform: capitalize;
    margin-top: -30px;

}
.para{
    padding-left: 50px;
    margin-bottom: 60px;
    max-width: 900px;
    color: rgb(90, 83, 83);
    margin-top: 20px;
}
.logo{
    font-size: 50px;
    margin-top: 20px;
    color: rgb(12, 12, 12);
    margin-left: 40px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    margin-bottom: 10px;

}
.logo :hover{
    cursor: pointer;
}
.work{
    margin-top: 20px;
    padding-left:20px ;
    margin-bottom: 30px;
}
.trophy{
    color: rgb(247, 247, 111);
    padding-left: 50px;
    
}
.award{
    color: rgb(90, 83, 83);
    margin-top: -20px;
    padding-left: 30px;
    /* margin-bottom: 10px; */
    padding-bottom: 20px;
    /* border-bottom: 1px solid rgb(39, 38, 38); */
}
.trophy2{
    padding-bottom: 200px;
    border-bottom: 2px solid rgb(39, 38, 38);
    padding-left: 50px;
    color: rgb(247, 247, 111);
}
.award2{

    color: rgb(90, 83, 83);
    margin-top: -20px;
    padding-left: 30px;

}